* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-white: white;
  --primary-dark: #212121;
  --primary-grey: #546e7a;
  --primary-blue: #303f9f;
  --primary-yellow: #ffee58;
  --primary-grren: #388e3c;
  --primary-font-50px: 3.125rem;
  --primary-font-10px: 0.625rem;
  --primary-font-20px: 1.25rem;
  --primary-font-30px: 2.188rem;
  --primary-small-font: 0.125rem;
}


/* =============navbar========= */
/* this is for logo */
.navbar {
  z-index: 10;
}

.navlogo {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  color: var(--primary-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* =============moon style on the logo=========== */

.rotate {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  background-color: var(--primary-yellow);
  animation: circle 5s linear infinite;
}

@keyframes circle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(24px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(24px)
      rotate(-360deg);
  }
}

.logoText {
  margin-top: 50%;
  margin-bottom: 50%;
  font-weight: bold;
}

/* nav links */
.navbar-nav .nav-link {
  color: var(--primary-white) !important;
  margin-left: var(--primary-font-20px);
  font-weight: 600;
}

.navbar-nav li a.active,
.navbar-nav li a.active:focus {
  border-top: solid var(--primary-small-font) var(--primary-grren);
}

.navbar-nav li a:hover {
  border-top: solid var(--primary-small-font) var(--primary-grren);
}
/* =============home========= */

.home-wraper {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src/Components/programming-g129a6042f_1280.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  position: absolute;
  top: 0;
  left: var(--primary-font-50px);
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: var(--primary-white);
  gap: 20px;
}

.info h1 {
  text-transform: uppercase;
}

.info p {
  width: 40%;
  text-align: justify;
  font-size: 18px;
}

.name {
  font-weight: 800;
}

.right-home{
  margin-left: 50%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.right-home img{
  width: 60%;
  border-radius: 50%;
}

.mobile-bttn{
  display: none;
}

/* =============type text========= */

.type-text {
  color: white;
  font-size: var(--primary-font-30px);
  font-weight: 900;
}

/* =============About========= */

.section-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  gap: 15%;
  margin-top: 5%;
}

.left-side{
  z-index: 20;
  width: 50%;
  box-shadow: rgb(10, 236, 225) 0px 7px 29px 0px;
  border-radius: 20px;

}

.left-side img{
  width: 100%;
  border-radius: 20px;
}

.title-text{
  padding-top: 40px;
  width: 20%;
  margin: auto; 
}

.title-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border-bottom: 2px solid white;
}

.right-side {
  box-shadow: rgb(10, 236, 225) 0px 7px 29px 0px;
  z-index: 20;
  background-color: var(--primary-dark);
  padding: 30px;
  border-radius: 20px;
  width: 50%;
  position: relative;
  transition:  3s ease-in-out;

}

.front-face,
.back-face {
  color: white;
}

.flipped .front-face {
  display: none;
}

.flipped .back-face {
  display: block;
}

.hidden {
  display: none;
}

.btn button {
  padding: 2vh 2vw;
  border-radius: 20px;
  border: none;
}
/* =============Skill--section========= */


.parent{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.parent .card{
  width: 150px;
  height: 150px;
  z-index: 10;
}

.parent .card::before{
  content: attr(data-card);;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10px;
  left: -10px;
  background-color: rgb(87, 74, 74);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: borderAnimation 4s infinite;
  border: 2px solid;
}

@keyframes borderAnimation {
  0% {
    border-color: #88ce19;
  }
  100% {
    border-color: #397fe986;
  }
}

/* =============Phone========= */

@media screen and (max-width: 786px) {
  .info {
    align-items: center;
    left: 0;
    right: 0;
  }
  .info p {
    width: 100%;
  }
  .type-text {
    font-weight: 700;
  }
  .section-box{
    flex-direction: column;
    gap: 20px;
  }
  .right-side{
    width: 100%;
  }
  .front-face, .back-face{
    width: 100%;
  }
  .home-wraper{
    flex-direction: column;
    align-items: center;
  }
  .right-home{
   display: none;
  }
  .mobile-bttn{
    display: block;
  }
  .parent{
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
}
