* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-white: white;
  --primary-dark: #212121;
  --primary-grey: #546e7a;
  --primary-blue: #303f9f;
  --primary-yellow: #ffee58;
  --primary-grren: #388e3c;
  --primary-font-50px: 3.125rem;
  --primary-font-10px: 0.625rem;
  --primary-font-20px: 1.25rem;
  --primary-small-font: 0.125rem;
}

/* =============navbar========= */
/* this is for logo */
.navbar .navbar-brand {
  color: var(--primary-white) !important;
}
/* nav links */
.navbar-nav .nav-link {
  color: var(--primary-white) !important;
  margin-left: var(--primary-font-20px);
}

.navbar-nav li a.active,
.navbar-nav li a.active:focus {
  border-top: solid var(--primary-small-font) var(--primary-grren);
}

.navbar-nav li a:hover {
  border-top: solid var(--primary-small-font) var(--primary-grren);
}
